.vscode
__pycache__/
migrations/
*.pyc
.idea/
db.sqlite3
.DS_Store
.pytest_cache
htmlcov/
.coverage
.coveragerc
.tox
venv
staticfiles
.editorconfig
venv/
.env
**/__pycache__/**

media/
celery.log
celery.worker.log
celerybeat-schedule.dat
celerybeat-schedule.bak
celerybeat-schedule.dir
logs/**
mysite.log
